################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/src/NuGetToProjectReferenceConverter/bin
/src/NuGetToProjectReferenceConverter/obj

/src/NuGetToProjectReferenceConverter/.vs
/src/NuGetToProjectReferenceConverter/packages
/src/NuGetToProjectReferenceConverter/NuGetToProjectReferenceConverter.csproj.user
/logs/app.log

/src/NuGetToProjectReferenceConverter.Tests/bin
/src/NuGetToProjectReferenceConverter.Tests/obj
/src/NuGetToProjectReferenceConverter.Tests/.vs
